@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    margin-top: 15px;
}


img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.carousel {
    box-shadow: 2px 1px 4px rgba(0, 0, 0, .5);
    border-radius: 10px;
    height: 540px;
    width: 500px;
    overflow: hidden;
}

.image-container {
    display: flex;

    /* flex-wrap: wrap; */
    /* height: 540px; */
    transform: translateX(0);
    transition: transform .5s ease-in-out;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.btn {
    background-color: rebeccapurple;
    color: white;
    width: 33%;
    /* height: 100%; */
    border: 0;
    padding: .7rem .6rem;
    cursor: pointer;
    border-radius: 0 !important;
}

.btn:hover {
    opacity: .5;
}

.btn:focus {
    outline: none;
}


.imgc__overview {
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;
    padding: .5rem 1.2rem;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    max-height: 40%;
    /* overflow: scroll; */
}

.imgc__overview1 {
    transform: translateX(0px);
}

.imgc__overview2 {
    transform: translateX(500px);

}

.imgc__overview3 {
    transform: translateX(1000px);
}

.imgc__overview4 {
    transform: translateX(1500px);
}


.imgc__overview a {
    display: flex;
    justify-content: flex-end;

}

.text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: unset;
}

.modalDlg {
    display: flex;
    /* justify-content: flex-end; */
    margin: .3rem;
    /* flex-direction: row; 
    flex-wrap: wrap;
     */
    /* justify-content: flex-end; */
    /* z-index: 10; */
    /* border: 1px solid green; */

}

/* Playing with margin, padding */
.modalDlg {
    margin: .5rem;
}

#modal {
    padding-bottom: 2rem;
    /* border: 1px solid green; */
}

.modalDlg:last-child .btn {
    /* margin-bottom: 2rem; */
    background-color: greenyellow !important;
    color: black;
}

.imgc__item .btn {
    padding: .3rem;
    border-radius: 20px !important;
    outline: none !important;
}

.modal-dialog {
    background-color: greenyellow;
}